<article>
    <div id="artView"></div>

    <hr class="separator">
    <h3>Comente</h3>
    <div id="commentForm"></div>

    <hr class="separator">
    <h3>Comentários</h3>
    <div id="commentList"></div>

</article>
<aside>Barra lateral</aside>

<div id="modalComment">
    <div class="modal">
        <div class="modal-body">
            <div class="modal-header">
                <div class="modal-title">Comentando...</div>
                <span class="modal-close"><i class="fas fa-times fa-fw"></i></span>
            </div>
            <div class="modal-text">Seu comentário foi enviado com sucesso!</div>
        </div>
    </div>
</div>